body {
    background-color: #8498D0;
}

.container {
    background-color: #FEFEFE;
    margin-top: 200px;
    padding: 20px;
    height: 100%;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.19), -5px 6px 6px rgba(0,0,0,0.23);
}

.nameprice {
    color: #0066CC;
    margin-bottom: 20px
}

.currency {
    vertical-align: super;
    font-size: 50%
}

.rate {
    font-size: 50%
}

p {
    color: #808080
}

img {
    margin-bottom: 20px;
}

#dealselect:hover {
    background-color: #F5F5F5;
}